<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <!-- κληρονομεί οτι υπαρχει μεσα στο basic.html -->
    {% include "basic.html" %}
    
    <title>Roles</title>
    
  </head>

  <body>
    <!-- ενσωματωση του navbar -->
    {% include "myNav.html" %}
     <br>
     <center>
     <h2>Ρόλοι</h2>
     </center>
     <br>
     <div class="container">
      <p style="padding:5px;" class="border border-secondary"><i class="fas fa-exclamation-circle"></i> &nbsp Οι ρόλοι χρησιμοποιούνται κατά τη τμηματοποίηση προσωπικού, ώστε να αναγράφεται ο επιθυμητός ρόλος στην εγγραφή τους στο τμήμα και στην τρέχουσα κατάσταση.</p>
      </div>
      <br>
    <div style="padding:10px;width:60%;" class="container border border-secondary">
     <center>
     <h5>Προσθήκη Ρόλου</h5>
     </center>
      <form action="{% url 'role' %}" method="post">
        {% csrf_token %}
            <div class="form-row">
          <div class="form-group col-md-7">
            <label for="inputState">Όνομα ρόλου</label>
            <input class="form-control"  type="text"  name="name_role" required>
          </div>
        </div>
  <center>
  <button type="submit" class="btn btn-success">Προσθήκη</button>
  </center>
</form>

    </div>

   {% include "messages.html" %}
   
    <br>

   
   <div style="padding:10px;width:60%;" class="container border border-secondary">
     <center>
     <h5>Αποθηκευμένοι Ρόλοι</h5>
     </center>
   <table class="table table-responsive-md table-hover table-striped">
        <thead class="table-warning">
          <tr class="">
            <th>A/A</th>
            <th>Όνομα Ρόλου</th>
            <th>Ενέργειες</th>
          </tr>
        </thead>
        <tbody>

          {% for item in Roles %}
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.role_name}}</td>
            <td>
              <div class="row">
                <form action="{% url 'roleDelete' %}" method="post">
                  <input type="hidden" name="id_role" value="{{item.id}}" />
                  <input style="float: left;" type="submit" class="btn btn-danger" value="Διαγραφή" />
                  {% csrf_token %}
                </form>
                &nbsp;&nbsp;&nbsp;&nbsp;
                   <button type="button" onclick="myFunction(id={{item.id}})" class="btn btn-primary"
                     data-toggle="modal" data-target="#ModalEdit">
                     Επεξεργασία
                   </button>
                <div>
            </td>

          </tr>
          {% endfor %}

        </tbody>
      </table>

    </div>
    
    <!-- Modal for edit-->
     <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
       <div class="modal-dialog  modal-dialog-centered" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Επεξεργασία Ρόλου</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <div id="edit">
               <form class="form-horizontal" action="{% url 'roleEdit'%}" method="post" autocomplete="off">
                 {% csrf_token %}
                 <div class="form-group" id="editForFind">
                   <div class="form-row">
                     <div class="form-group col-md-7">
                       <label for="inputState">Όνομα ρόλου</label>
                       <input id="roleNameEdit" class="form-control" type="text" name="name_role" required>
                     </div>
                   </div>
                 </div>
                 <input type="hidden" name="id" id="passEditId">
             </div>
           </div>
           <div class="modal-footer">
             <div style="margin-right:30%;">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Κλείσιμο</button>
               <button type="submit" class="btn btn-primary">Αποθήκευση</button>
             </div>
             </form>
           </div>
         </div>
       </div>
     </div>
    
  </body>
 <script>
   function myFunction(
     id
   ) { // ajax to perform get request to get the string object based on id, which is printed inside the function of button epeksergasia
     console.log(id)
     ajaxObject = $.ajax({
       method: 'GET',
       url: "roleGet/" + id,
       contentType: 'application/json',
       success: function (response) {
         console.log(response);
         var mySplit = response.split(
         ',');
         console.log(mySplit);
         $("#passEditId").val(id); // we pass it to hidden field of edit form

         var role = $("#roleNameEdit").val(mySplit[1]);
         
       },
       // Check for existence of file 
       error: function (err) {
         console.log(err);
       }
     });
   }
 </script>

</html>
