
     <div class="col-md-6">
         <table class="table table-hover table-striped">
             <tbody>
                 {% if mySearch %}
                 {% for row in mySearch %}
                 <tr>
                  <td>{{ row.uid }}</td>
                  <td>({{ row.user_id}}),{{ row.name}}</td>
                  <td>{{ row.card}}</td>

                 </tr>
                 {% endfor %}
                 {% endif %}
                 {% if noResults %}
                 <p style="margin:20px;">Δεν βρέθηκαν χρήστες συσκευής.</p>
                 {% endif %}
             </tbody>
         </table>
     </div>
