<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        {% include "basic.html" %}
        {% load static %}
        <title>Users Half Attendance</title>
    </head>

    <body>
        <script>
            $(document).ready(function () {
                $('#depSelect').select2({
                    theme: "classic",
                    placeholder: 'Select an option'
                });
                $('#userSelect').select2({
                    theme: "classic",
                    placeholder: 'Select an option'
                });
            });
        </script>
        <!-- ΕΜΦΑΝΙΣΗ nAVBAR -->
        {% include "myNav.html" %}

        <div style="width:95%;" class="container-xxl container-fluid">
            <br>
            <center>
                <h2>Ημιτελείς Παρουσίες προσωπικού</h2>
            </center>
            <br>
            <div class="row">
                <div style="margin-left:2%;padding:15px;width:40%" class="border border-secondary col-md">
                    <center>
                        <h4>Αναζήτηση Ημιτελών Παρουσιών ανά Χρήστη</h4>
                    </center>
                    <br>
                    <form action="{% url 'usersHalfAttendance' %}" method="post" enctype="multipart/form-data">
                        <!-- TOKEN GIA AU8ENTIKOPOIHSH -->
                        {% csrf_token %}
                        <div class="form-row d-flex justify-content-around">
                            <div class="form-group col-md-5">
                                <label for="userSelect">Επιλογή χρήστη</label>
                                <select id="userSelect" name="user_id" class="form-control">
                                    {% for u in Users %}
                                    <option value={{u.id}}>{{u.first_name}} {{u.last_name}} {{u.user_card}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class=" form-group col-md-4">
                                <label class="control-label">Hμερομηνία από (κενό:χθες)</label>
                                <input type="date" class="form-control" name="startMyDate" max="{{myDateMax}}">
                            </div>

                        </div>
                        <div class="row d-flex justify-content-around">
                            <div style="margin-top:32px;" class="col-md-5">
                                <button type="submit" class="btn btn-primary">Aναζήτηση με χρήστη</button>
                            </div>
                            <div style="margin-right:20px;" class="form-group col-md-4">
                                <label class="control-label">Hμερομηνία εώς (κενό:χθες)</label>
                                <input type="date" class="form-control" name="endMyDate" max="{{myDateMax}}">
                            </div>
                        </div>
                    </form>
                </div>

                <div style="margin-left:2%;padding:15px;width:40%" class="border border-secondary col-md">
                    <center>
                        <h4>Αναζήτηση Ημιτελών Παρουσιών ανά Τμήμα</h4>
                    </center>
                    <br>
                    <form action="{% url 'usersHalfAttendance' %}" method="post" enctype="multipart/form-data">
                        <!-- TOKEN GIA AU8ENTIKOPOIHSH -->
                        {% csrf_token %}
                        <div class="form-row d-flex justify-content-around">
                            <div class="form-group col-md-5">
                                <label for="depSelect">Επιλογή τμήματος</label>
                                <select id="depSelect" name="dep_id" class="form-control">
                                    {% for d in departments %}
                                    <option value={{d.id}}>{{d.department_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class=" form-group col-md-4">
                                <label class="control-label">Hμερομηνία από (κενό:χθες)</label>
                                <input type="date" class="form-control" name="startMyDate" max="{{myDateMax}}">
                            </div>
                        </div>
                        <div class="row d-flex justify-content-around">
                            <div style="margin-top:32px;" class="form-group col-md-5">
                                <button type="submit" class="btn btn-success">Αναζήτηση με τμήμα</button>
                            </div>
                            <div style="margin-right:20px;" class="form-group col-md-4">
                                <label class="control-label">Hμερομηνία εώς (κενό:χθες)</label>
                                <input type="date" class="form-control" name="endMyDate" max="{{myDateMax}}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        {% include "messages.html" %}

        <table style="margin-left:2%;width:95%;" class="table table-striped table-bordered table-hover">
            {% if date1 %}
            <center>
                <h2 style="margin-left:2%;width:95%;" class="table-warning">{{dep}} {% if  flagUserAtt %}
                    {{myUser}} {% endif %}, Aπό:{{date1}}, εώς:{{date2}}</h2>
            </center>
            {% endif %}


            <thead class="table-warning">
                <tr>
                    <th>Χρήστης</th>

                    <th>Άφιξη</th>
                    <th>Αποχώρηση</th>
                     <!-- <th>Ημέρα</th>  -->
                    <!-- <th>Ωράριο</th> -->
                    <!-- <th>Υποχρεωτικές ωρες</th> -->
                    <th>Ενέργεια</th>
                    <th>Παρατηρήσεις</th>
                </tr>
            </thead>
            <tbody>

                {% for d in SumDays %}
                {% for dep in SumDeps %}

                <tr class="table-warning">
                    <th>{{d.day}} {{dep.DepName}} {% if  flagUserAtt %} {{dep.department_name}} {% endif %}</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                {% for row in fullattendaces %}
                {% if  flagUserAtt %}
                {% if d.day == row.day %}
                {% if dep.department_name == row.department %}

                <tr>
                    <td><i>{{row.Role}}</i>:({{row.user_card}}) {{row.first_name}} {{row.last_name}} του {{row.fathers_name}}</td>
                    <td>{{row.Fattendance_time}}</td>
                    <td>{{row.Lattendance_time}}</td>
                     <!-- <td>{{row.day}}</td>  -->
                    <!-- <td>{{row.wrario}}</td> -->
                    <!-- <td>{{row.should_work_hours}}</td> -->
                    
                    <td>

                        <button type="button" onclick="myFunction(id={{row.id}})" class="btn btn-primary"
                            data-toggle="modal" data-target="#ModalEdit">
                            Επεξεργασία
                        </button>

                    </td>
                    
                    <td>{{row.Hrms}}</td>
                </tr>

                {% endif %}
                {% endif %}
                {% endif %}
                {% if not flagUserAtt %}
                {% if d.day == row.day %}
                {% if dep.DepName == row.department %}

                <tr>
                    <td><i>{{row.Role}}</i>:({{row.user_card}}) {{row.first_name}} {{row.last_name}} του {{row.fathers_name}}</td>
                    <td>{{row.Fattendance_time}}</td>
                    <td>{{row.Lattendance_time}}</td>
                    <!-- <td>{{row.day}}</td>  -->
                    <!-- <td>{{row.wrario}}</td> -->
                    <!-- <td>{{row.should_work_hours}}</td> -->
                    <td>

                    <button type="button" onclick="myFunction(id={{row.id}})" class="btn btn-primary"
                        data-toggle="modal" data-target="#ModalEdit">
                        Επεξεργασία
                    </button>
                </td>

                    <td>{{row.Hrms}}</td>
                </tr>

                {% endif %}
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        </div>
        
        
        
        <!-- Modal for edit-->
        <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Επεξεργασία Ημιτελής Παρουσίας Χρήστη</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="edit">
                            <form class="form-horizontal" action="{% url 'usersHalfAttendanceEdit'%}" method="post"
                                autocomplete="off">
                                {% csrf_token %}
                                <div class="form-group" id="editForFind">
                                
                                    <label>Αριθμός κάρτας</label>
                                    <input id="editCN" type="text" class="form-control" disabled>
                               
                               
                                 
                                     <label>Username</label>
                                     <input id="editUsername" type="text" class="form-control" disabled>
                                 
                                 
                                     <label>Ημέρα (Hμέρα-μήνας-Χρόνος)</label>
                                     <input id="editDay" type="date" class="form-control" disabled>
                                
                                 
                                 
                                      <label>Άφιξη</label>
                                      <input type="text" class="form-control" id="timepicker1" disabled>
                                  
                                
                                    <label>Αποχώρηση</label>
                                    <input type="text" name="apoxwrisi" class="form-control" id="timepicker2" required>
                                
                                
                               
                                    <label>Άφιξη 2 (για σπαστό, αλλιώς κενό)</label>
                                    <input type="text" name="afiksi2" class="form-control" id="timepicker3">
                                
                                
                                 
                                     <label>Αποχώρηση 2 (για σπαστό, αλλιώς κενό)</label>
                                     <input type="text" name="apoxwrisi2" class="form-control" id="timepicker4">
                                 

                                </div>
                                
                                <input type="hidden" name="next" value="{{ request.path }}">

                                <input type="hidden" name="id" id="passEditId">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="margin-right:30%;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Αποθήκευση</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </body>
    
     <script>
         function myFunction(
             id
         ) { // ajax to perform get request to get the string object based on id, which is printed inside the function of button epeksergasia
             console.log(id)
             ajaxObject = $.ajax({
                 method: 'GET',
                 url: "AttRRGet/" + id,
                 contentType: 'application/json',
                 success: function (response) {
                     console.log(response);
                     var mySplit = response.split(','); 
                     //["1940660", "boydoyris theofanis", "16:59:49", "00:00:00", "00:00:00", "00:00:00", "2021-05-07",
                     //"07:00:00-15:00:00", "08:00:00", "00:00:00", "00:00:00", "None", "None", "00:00:00", "00:00:00",
                     //"ΝΟΜΙΚΗ ΥΠΗΡΕΣΙΑ"]
                     console.log(mySplit);
                     $("#passEditId").val(id); // we pass it to hidden field of edit form
                      var cardNumber = $("#editCN").val(mySplit[0]);
                      //var cardID = $("#editCID").val(mySplit[0]);

                      var username = $("#editUsername").val(mySplit[1]);
                     console.log(mySplit[10]);
                      var day = $("#editDay").val(mySplit[6]);
                      //var afiksi = $("#editForFind").find('p:nth-child(5)').find('input').val(mySplit[6]);
                     //we print the values in modal form of edit
                      $('#timepicker1').timepicker({
                      timeFormat: 'HH:mm',
                      interval: 30,
                      dynamic: true,
                      dropdown: true,
                      scrollbar: true,
                      use24hours: true,
                      zindex:1000000,
                      });
                      $("#timepicker1").timepicker('setTime', mySplit[2]);
                      
                       $('#timepicker2').timepicker({
                       timeFormat: 'HH:mm',
                       interval: 30,
                       dynamic: true,
                       dropdown: true,
                       scrollbar: true,
                       use24hours: true,
                       zindex:1000000,
                       });
                       
                        if (mySplit[5] == '00:00:00') {
                        //$("#timepicker2").timepicker('setTime','16:00');
                        } else {
                        //$("#timepicker2").timepicker('setTime',mySplit[3]);
                        }
                       
                       $('#timepicker3').timepicker({
                       timeFormat: 'HH:mm',
                       interval: 30,
                       dynamic: true,
                       dropdown: true,
                       scrollbar: true,
                       use24hours: true,
                       zindex:1000000,
                       });
                        if (mySplit[6] == '00:00:00') {
                       // $("#timepicker3").timepicker('setTime','16:00');
                        } else {
                        //$("#timepicker3").timepicker('setTime',mySplit[4]);
                        }
                       
                       $('#timepicker4').timepicker({
                       timeFormat: 'HH:mm',
                       interval: 30,
                       dynamic: true,
                       dropdown: true,
                       scrollbar: true,
                       use24hours: true,
                       zindex:1000000,
                       });
                       if (mySplit[7] == '00:00:00') {
                      // $("#timepicker4").timepicker('setTime','16:00');
                       } else {
                       //$("#timepicker4").timepicker('setTime',mySplit[5]);
                       }

                    
                 },
                 // Check for existence of file 
                 error: function (err) {
                     console.log(err);
                 }
             });
         }
     </script>

</html>
