
  #add{
      margin: 1%;
      padding: 5px;
      border: 2px solid black;
    }

#edit {
  margin: 1%;
  padding: 15px;

}

 @keyframes blinker {
   from {
     opacity: 1.0;
   }

   to {
     opacity: 0.0;
   }
 }

 .blink {
   text-decoration: blink;
   animation-name: blinker;
   animation-duration: 0.6s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   animation-direction: alternate;
 }
 